body{
	font-family:"Montserrat", serif;
	margin:0;
}

.outer{
	text-align: center;
}

.page{
	position:relative;
	max-width:1200px;
	width:100%;
	text-align:left;
	display:inline-block;

}

/* sticky nav */
.topofpage {
    position:absolute;
    opacity:1;   
    width: 100%;
    height:112px;
    background-color: #579e94;
  	display:flex;
  	gap:40px;
  	justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left:50px;

}

.navbar{
  font-weight:bold;

}

.logo{
  max-width: 150px;
}

.logo_img{
  width:120px;
  height:auto;
}

.navbar a {
	text-decoration:none;
	color:#404040;
	margin-right:40px;
}

a{
	text-decoration:none;
	color:#404040;
	text-align:center;
	justify-content: center;
}

a:hover{
	color:#ecb753;
}

/* Hero image for subpages */

.hero_sub{    
    overflow: hidden;
    text-align: center;
    margin-bottom:40px;
}

.hero_sub img{
	width: 100%;
    height: 500px;
    object-fit: cover
}

/* Contact Us button */

.contact_button{
	border-radius:40px;
	background-color:#ecb753;
	cursor:pointer;
	color:#404040;
	font-weight:bold;
	padding:15px;
	max-width:200px;
	margin-bottom:40px;
	text-align:center;

}

/* Set of image tiles*/

.tile_set{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	align-items:center;
	justify-content:center;
	float:left;
	text-align:center;
	overflow: hidden;

}

.tile_set img{
	width:100%;
	height:100%;
}

h2{
	font-size:28px;
	font-weight:bold;
	color:#404040;
	display:block;

}

